.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    background-color: #ffffff;
}

.header a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.itens-header {
    align-items: center;
}