<div class="horizontal-center vertical-center" style="margin-top: 100px">
    <div class="col-md-8 b-branco card-branco mat-elevation-z6" style="opacity: 1;">
        <form action="" class="frm-login col-md-8 centered frm-opacity">
            <img src="assets/img/logo-frm.png" class="img-frm logo-frm " alt="">
            <div class="form-group col-md-8">
                <label for="inputEmail" class="form-group branco">Usuário</label>
                <input type="email" class="form-control" id="inputUser" placeholder="ex: 123654">
            </div>
            <div class="form-group col-md-8">
                <label for="inputSenha" class="branco">Senha</label>
                <input type="password" name="inputSenha" id="inputSenha" class="form-control" placeholder="Digite sua senha">
            </div>
        </form>
    </div>
</div>